<td>{{moment booking.startAt "YYYY/MM/DD"}}</td>
<td>{{moment booking.endAt "YYYY/MM/DD"}}</td>
<td>
  <a href="mailto:{{booking.clientEmail}}">{{booking.clientEmail}}</a>
</td>
<td>{{numbro booking.price}}</td>
<td>
  <span class="action edit" {{action (mut editModalOpened) true}}>
    <span class="glyphicon glyphicon-pencil"></span>
  </span>
  <span class="action delete" {{action (mut deleteModalOpened)
                                       true}}>
    <span class="glyphicon glyphicon-remove-circle"></span>
  </span>
</td>

{{#bs-modal open=editModalOpened
            onHidden=(action (mut editModalOpened) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Edit booking
    </h4>

  {{/modal.header}}
  {{#modal.body}}
    <div class="">
      {{#bs-form onSubmit=(action "editBooking")
                 formLayout="horizontal"
                 novalidate=true
                 model=booking as |form|}}
        {{form.element controlType="date"
                       label="Start at"
                       property="startAt"
                       required=true}}
        {{form.element controlType="date"
                       label="End at"
                       property="endAt"
                       required=true}}
        {{form.element controlType="email"
                       label="Contact"
                       placeholder="john@smith.com"
                       property="clientEmail"
                       required=true}}
      {{/bs-form}}

      <span class="new-price">New price will be {{newPrice}}.</span>
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action 'cancelBookingEdition' booking modal)
                 type="default"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}
      Save
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}

{{#bs-modal open=deleteModalOpened
            onSubmit=(action "deleteBooking" booking)
            onHidden=(action (mut deleteModalOpened) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Delete booking
    </h4>

  {{/modal.header}}
  {{#modal.body}}
    <div class="">
      You are about to permanently delete this booking. Are you sure?
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="danger"}}
      Delete
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}