{{#bs-modal open=modalOpened
            onHidden=(action 'cancelModal' booking) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Book rental
    </h4>

  {{/modal.header}}
  {{#modal.body}}
    <div class="">
      {{#bs-form onSubmit=(action "submit")
                 formLayout="horizontal"
                 novalidate=true
                 model=booking as |form|}}
        {{form.element controlType="date"
                       label="Start at"
                       property="startAt"
                       required=true}}
        {{form.element controlType="date"
                       label="End at"
                       property="endAt"
                       required=true}}
        {{form.element controlType="email"
                       label="Contact"
                       placeholder="john@smith.com"
                       property="clientEmail"
                       required=true}}
      {{/bs-form}}

      {{#if showPrice}}
        <span class="new-price">New price will be {{newPrice}}.</span>
      {{/if}}
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close)
                 type="default"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}
      Save
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}

{{#bs-button
  class="book btn-primary"
  onClick=(action 'showModal')}}
  Book
{{/bs-button}}