{{#bs-modal open=modalOpened
            onHidden=(action 'cancelModal' rental) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Create rental
    </h4>

  {{/modal.header}}
  {{#modal.body}}
    <div class="">
      {{#bs-form onSubmit=(action "submit")
                 formLayout="horizontal"
                 novalidate=true
                 model=rental as |form|}}
        {{form.element controlType="text"
                       label="Name"
                       placeholder="My awesome mansion"
                       property="name"
                       required=true}}
        {{form.element controlType="text"
                       label="Daily rate"
                       placeholder="123.45"
                       property="dailyRate"
                       required=true}}
      {{/bs-form}}
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}
      Create
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}


{{#bs-button class="new-rental-btn" onClick=(action 'showModal')}}
  Create a new rental
{{/bs-button}}