{{#bs-modal open=editModalOpened
            onHidden=(action 'cancelEdition' model) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Edit rental
    </h4>

  {{/modal.header}}
  {{#modal.body}}
    <div class="">
      {{#bs-form onSubmit=(action "submit")
                 formLayout="horizontal"
                 novalidate=true
                 model=model as |form|}}
        {{form.element controlType="text"
                       label="Name"
                       placeholder="My awesome mansion"
                       property="name"
                       required=true}}
        {{form.element controlType="text"
                       label="Daily rate"
                       placeholder="123.45"
                       property="dailyRate"
                       required=true}}
      {{/bs-form}}
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}
      Save
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}


{{#bs-button
  class="edit btn-default"
  onClick=(action (mut editModalOpened) true)}}
  Edit
{{/bs-button}}