<li class="rental-preview" id="rental-preview-{{rental.id}}">
  <span class="delete" {{action (mut modalOpened) true}}>×</span>
  <div class="image">
    <img src="http://lorempixel.com/300/300/cats/{{imgId}}">
  </div>
  <h3 class="title">{{#link-to 'rentals.show' rental}}
    {{rental.name}}
  {{/link-to}}</h3>
  <div class="price">{{numbro rental.dailyRate}} per day</div>
  {{#if numberOfBookings}}
    <div class="bookings">{{numberOfBookings}} bookings</div>
  {{else}}
    <div class="bookings no-booking">No booking</div>
  {{/if}}
</li>

{{#bs-modal open=modalOpened
            onSubmit=(action "deleteRental" rental)
            onHidden=(action (mut modalOpened) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Delete rental
    </h4>

  {{/modal.header}}
  {{#modal.body}}
    <div class="">You are about to permanently delete <span
      class="important">{{rental.name}}</span> and all
      its bindings. Are you sure?
    </div>
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="danger"}}
      Delete
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}