@import "./home";
@import "./show";

@import "ember-bootstrap/bootstrap";

html, body, .ember-view {
  height: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.important {
  font-weight: bold;
}

$background-color: #3096ff;

.viewport {
  background: $background-color;
  min-height: 100%;
}

header {
  color: white;
  $header-height: 60px;

  height: $header-height;
  background: #1c6aba;

  position: relative;

  text-align: center;

  .app-name {
    line-height: $header-height;
    font-size: 40px;
  }

  .to-home {
    position: absolute;
    left: ($header-height - 30px) / 2;
    top: ($header-height - 30px) / 2;

    .icon {
      font-size: 30px;
      color: white;
    }
  }
}
