.viewport > .home {
  .section-title {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: #fff;
    font-family: Helvetica, sans-serif;
  }

  .is-pending {
    display: none;
  }

  ul > * {
    display: inline-block;
  }

  li {
    position: relative;
    width: 340px;
    height: 440px;
    list-style: none;
    padding: 20px;
    margin: 20px;

    background: white;

    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;

    .image {
      height: 300px;
      margin-bottom: 20px;

      img {
        max-width: 300px;
        max-height: 300px;
      }
    }

    .title {
      margin-bottom: 4px;
    }

    .delete {
      position: absolute;
      right: -10px;
      top: -10px;
      background: #fb6075;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;

      cursor: pointer;
    }

    .bookings {
      font-style: italic;
    }
  }

  .no-rental {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 40px 0;
  }

  .new-rental {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .new-rental-btn {
      padding: 20px 30px;
      background: #1a65a7;
      color: #fff;
      border-color: #299bfd;
      font-size: 20px;
    }
  }
}
