.show {
  color: white;
  text-align: center;

  .split {
    display: flex;

    margin-bottom: 40px;

    .split-view {
      height: 340px;
      padding: 20px;
      flex: 1;

      &.right {
        display: flex;
        align-items: center;
        text-align: left;
      }

      &.left {
        text-align: right;
      }

      h3 {
        font-size: 40px;
        margin-bottom: 20px;
      }

      .price {
        font-size: 20px;
        font-style: italic;
      }

      .actions {
        margin-top: 40px;

        & > * {
          display: inline-block;
        }
      }
    }
  }

  .bookings {
    h3 {
      margin-bottom: 20px;
    }

    table {
      width: 80%;
      margin: auto;

      thead {
        font-weight: bold;

        td {
          border-bottom: 1px solid white;
        }
      }

      tbody {
        tr:first-child td {
          padding-top: 10px;
        }
      }

      td {
        width: 20%;
        border-left: 1px solid white;
        padding: 4px 6px;

        &:first-child {
          border-left: 0 none;
        }
      }

      a {
        color: #003f75;
      }

      .action {
        cursor: pointer;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
