<div class="show">

  <div class="split">
    <div class="split-view left image">
      <img src="http://lorempixel.com/300/300/cats/{{imgId}}">
    </div>
    <div class="split-view right">
      <span class="centered">
        <h3>{{model.name}}</h3>
        <div class="price">{{numbro model.dailyRate}} per day</div>
        <div class="actions">
          {{edit-rental-modal model=model}}
          {{book-rental-modal bookingGenerator=bookingGenerator rental=model}}
          </div>
      </span>
    </div>
  </div>


  <div class="bookings">
    <h3>Bookings</h3>
    {{#if hasBookings}}
      <table>
        <thead>
        <tr>
          <td>Start</td>
          <td>End</td>
          <td>Client</td>
          <td>Price</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        {{#each model.bookings as |booking|}}
          {{booking-preview booking=booking rental=model}}
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <span class="no-booking">No booking yet</span>
    {{/if}}

  </div>
</div>