<header>
  <span class="to-home">
    <a href="/">
      <span
        class="icon glyphicon glyphicon-menu-hamburger">
      </span>
    </a>
  </span>

  <span class="app-name">Mini BookingSync</span>

</header>

<div class="viewport">
{{outlet}}
</div>
