<div class="home">
  <section class="registered">
    {{#if hasRental}}
      <ul>
        {{#each model as |rental|}}
          {{rental-preview rental=rental}}
        {{/each}}
      </ul>
    {{else}}
      <div class="no-rental">No booking yet</div>
    {{/if}}
  </section>
  <section class="new-rental">
    {{create-rental-modal rentalGenerator=rentalGenerator}}
  </section>
</div>
